In [ ]:
%load_ext sql

In [ ]:
DB_ENDPOINT = "127.0.0.1"
DB = 'Pagila2'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

In [ ]:
%sql $conn_string

In [ ]:
## Explore the 3 Normal Form Schema od Pagila

TODO: Explain 1NF 2NF and 3NF

<img src="images/pagila-3nf.png"/>

### What data sizes are we looking at?

In [ ]:
nStores = %sql select count(*) from store;
nFilms = %sql select count(*) from film;
nCustomers = %sql select count(*) from customer;
nRentals = %sql select count(*) from rental;
nPayment = %sql select count(*) from payment;
nStaff = %sql select count(*) from staff;
nCity = %sql select count(*) from city;
nCountry = %sql select count(*) from country;

print("nFilms\t\t=", nFilms[0][0])
print("nCustomers\t=", nCustomers[0][0])
print("nRentals\t=", nRentals[0][0])
print("nPayment\t=", nPayment[0][0])
print("nStaff\t\t=", nStaff[0][0])
print("nStores\t\t=", nStores[0][0])
print("nCities\t\t=", nCity[0][0])
print("nCountry\t\t=", nCountry[0][0])

### What time period are we talking about?

In [ ]:
%%sql 
select min(payment_date) as start, max(payment_date) as end from payment;

## Where do events in this database occur?

In [ ]:
%%sql
select district, COUNT(district)
from address 
group by district
order by count(district) desc
limit 10;

### Insights 
1. Top Grossing Movies

In [ ]:
%%sql
select film_id, title, release_year, rental_rate, rating  from film limit 5;

In [ ]:
%%sql
select * from payment limit 10;

In [ ]:
%%sql
select * from inventory limit 5;

In [ ]:
%%sql
SELECT f.title, p.amount, p.payment_date, p.customer_id                                            
FROM payment p
JOIN rental r    ON ( p.rental_id = r.rental_id )
JOIN inventory i ON ( r.inventory_id = i.inventory_id )
JOIN film f ON ( i.film_id = f.film_id)
limit 5;

In [ ]:
%%sql
SELECT f.title, SUM(p.amount)                      
FROM payment p
JOIN rental r ON (p.rental_id = r.rental_id)
JOIN inventory i ON (r.inventory_id = i.inventory_id)
JOIN film f ON (i.film_id = f.film_id)
GROUP BY f.title
ORDER BY SUM(p.amount) DESC
LIMIT 10

In [ ]:
%%sql
SELECT p.customer_id, p.rental_id, p.amount, ci.city                            
FROM payment p
JOIN customer c  ON ( p.customer_id = c.customer_id )
JOIN address a ON ( c.address_id = a.address_id )
JOIN city ci ON ( a.city_id = ci.city_id )
order by p.payment_date
limit 10;

In [ ]:
%%sql
SELECT ci.city as City, SUM(p.amount) as Revenue
FROM payment p
JOIN customer c ON(p.customer_id = c.customer_id)
JOIN address a ON ( c.address_id = a.address_id )
JOIN city ci ON ( a.city_id = ci.city_id )
GROUP BY ci.city
ORDER BY SUM(p.amount) DESC
LIMIT 10

In [ ]:
%%sql
SELECT sum(p.amount) as revenue, EXTRACT(month FROM p.payment_date) as month
from payment p
group by month
order by revenue desc
limit 10;

In [ ]:
%%sql
SELECT f.title, p.amount, p.customer_id, ci.city, p.payment_date,EXTRACT(month FROM p.payment_date) as month
FROM payment p
JOIN rental r    ON ( p.rental_id = r.rental_id )
JOIN inventory i ON ( r.inventory_id = i.inventory_id )
JOIN film f ON ( i.film_id = f.film_id)
JOIN customer c  ON ( p.customer_id = c.customer_id )
JOIN address a ON ( c.address_id = a.address_id )
JOIN city ci ON ( a.city_id = ci.city_id )
order by p.payment_date
limit 10;

In [ ]:
%%sql
SELECT f.title, ci.city,EXTRACT(month FROM p.payment_date) as month,SUM(p.amount) as Revenue
FROM payment p
JOIN rental r ON (p.rental_id = r.rental_id)
JOIN inventory i ON ( r.inventory_id = i.inventory_id )
JOIN film f ON ( i.film_id = f.film_id)
JOIN customer c ON (p.customer_id = c.customer_id)
JOIN  address a ON (c.address_id = a.address_id)
JOIN city ci ON (a.city_id = ci.city_id)
GROUP BY f.title, ci.city, EXTRACT(month FROM p.payment_date)
ORDER BY SUM(p.amount) DESC
LIMIT 10

### Star Schema - Entity Relationship Diagram

<img src="images/pagila-star.png" width="50%"/>

Create the dimDate Dimension

In [ ]:
%%sql
CREATE SCHEMA IF NOT EXIST star;

In [ ]:
%%sql
CREATE TABLE dimDate (
    date_key SERIAL PRIMARY KEY,
    date DATE NOT NULL,
    year INTEGER NOT NULL GENERATED ALWAYS AS(EXTRACT(YEAR FROM date)) STORED,
    quarter INTEGER NOT NULL GENERATED ALWAYS AS (EXTRACT(QUATER FROM date))STORED,
    month INTEGER NOT NULL GENERATED ALWAYS AS (EXTRACT(MONTH FROM date))STORED,
    day INTEGER NOT NULL GENERATED ALWAYS AS (EXTRACT(DAY FROM date))STORED,
    week INTEGER NOT NULL GENERATED ALWAYS AS (EXTRACT(WEEK FROM date))STORED,
    is_weekend BOOLEAN NOT NULL GENERATED ALWAYS AS ((EXTRACT(DOW FROM date)= 0 OR EXTRACT(DOW FROM date)=6))
)